/* PC */
@media screen and (min-width:992px){
  .card{
    width: 45%;
  }
}

/* Mobile Device */
@media screen and (max-width: 991px){
  .card{
    width: 90%;
  }
}


.card{
  margin-top: 30px;
  height: 240px;
  background-color: #f9fafd;
  display: flex;
  flex-direction: row;
  box-shadow: 0px 0px 2px 2px darkgray;
}

.imgContainer{
  width: 50%;
  height: 240px;
}

.img {
	width: 100%;
	height: 100%;
}
.infoContainer{
  width: 50%;
  height: 240px;
  padding-left: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.price{
  color: orangered;
}